<h2>Onze hoofdzetel</h2>
<p>Straat: @ViewBag.deHoofdzetel.Straat</p>
<p>Huisnr: @ViewBag.deHoofdzetel.HuisNr</p>
<p>Postcode: @ViewBag.deHoofdzetel.Postcode</p>
<p>Gemeente: @ViewBag.deHoofdzetel.Gemeente</p>
