
@model List<Filiaal>
@{
    ViewData["Title"] = "Vestigingen";
}

<h1>Vestigingen</h1>
<partial name="Hoofdzetel" />
<partial name="Filialen" />

@if (ViewBag.recenteVerwijdering != null){
    <p>Recent verwijderd: @ViewBag.recenteVerwijdering</p>
}

